{%extends 'base.html'%}

{% block title %}
Головна сторінка
{% endblock %}



{% block body %}
<div class="hero-section">
    <div class="hero-content">
        <h1>Movify</h1>
        <p class="lead">Лучший сайт для поиска, обсуждения и оценки фильмов.
            Здесь вы найдете подборки, споры, рейтинги и свои любимые жанры!</p>
    </div>
</div>
<div class="features">
    <div class="feature-block">
        <h2>Фільми</h2>
        <p>Дивіться тільки найцікавіші фільми.</p>
    </div>
    <div class="feature-block">
        <h2>Мультфільми</h2>
        <p>Пориньте в історії 1000+ мультфільмів.</p>
    </div>
    <div class="feature-block">
        <h2>Про нас</h2>
        <p>Дізнайтеся нове про наш додаток.</p>
    </div>

    {% endblock %}