{% extends 'base.html' %}

{% block title %}Реєстрація{% endblock %}

{% block body %}
<h1 class="form-title">Форма реєстрації</h1>

<div class="login-container">
  <div class="form-header"></div>

  <form class="form-body" method="post">
    <label for="username">Username *</label>
    <input type="text" class="form-control" id="username" name="username"
           placeholder="Введіть ім'я користувача" required>

    <label for="password">Password *</label>
    <input type="password" class="form-control" id="password" name="password"
           placeholder="Введіть пароль" required>

    <label for="email">Email *</label>
    <input type="email" class="form-control" id="email" name="email"
           placeholder="Введіть пошту" required>

    <label class="mt-2">
      <input type="checkbox" name="remember">
      Запам'ятати мене
    </label>

    <button type="submit" class="btn btn-auth w-100 mt-3">ЗАРЕЄСТРУВАТИСЯ</button>
  </form>

  <div class="register-footer">
    <a href="{{ url_for('login') }}">Вже є аккаунт?</a>
    <a href="#">Забули пароль?</a>
  </div>
</div>

<img src="{{ url_for('static', filename='img/maan.png') }}"
     alt="Картинка для реєстрації" class="register-img">
{% endblock %}

